<h1>
  Capstone implementing API using
  <a href="https://blockhain.com" target="_blank">Blockchain.com</a>, Angular
  19, and Express
</h1>
<button mat-raised-button (click)="fetchData()">Load Data</button>
<br /><br />
@if (loading) {
<mat-spinner></mat-spinner>
}

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef>Symbol</th>
    <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
  </ng-container>

  <ng-container matColumnDef="price_24h">
    <th mat-header-cell *matHeaderCellDef>24H Price</th>
    <td mat-cell *matCellDef="let element">{{ element.price_24h }}</td>
  </ng-container>

  <ng-container matColumnDef="volume_24h">
    <th mat-header-cell *matHeaderCellDef>Volume</th>
    <td mat-cell *matCellDef="let element">{{ element.volume_24h }}</td>
  </ng-container>

  <ng-container matColumnDef="last_trade_price">
    <th mat-header-cell *matHeaderCellDef>Last Trade Price</th>
    <td mat-cell *matCellDef="let element">{{ element.last_trade_price }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
